<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neue Übung erstellen</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script>
        document.getElementById('workout_class').addEventListener('change', function() {
            var workoutClassId = this.value;
            fetch('/fitness/workout_type_options/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ workout_class: workoutClassId })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('workout_type_options').innerHTML = data.options_html;
            });
        });
    </script>
</head>
<body>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Absenden</button>
    </form>
    
</body>
</html>