{% extends 'base.html' %}

{% block title %}Dynamic Calendar with Streak{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #2e2f2b;
        color: #d1d1c7;
        margin: 0;
        text-align: center; 
    }
    h1 {
        font-size: 42px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 26px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    .container {
        background-color: #2e4736;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        max-width: 600px; 
        width: 90%; 
        margin: 0 auto; 
        text-align: center;
    }

    p {
        margin: 20px 0;
        color: #ffffff;
    }

    .error {
        color: red;
        text-align: center;
    }
    
</style>

    {% if user_profile %}
    <div>
        <label for="username">Account von:</label>
        <input type="text" id="username" name="username" value="{{ form.username.initial|default:user.username }}" class="readonly" readonly>
    </div>
        <p>Alter: {{ user_profile.age }}</p>
        <p>Geschlecht: {{ user_profile.get_gender_display }}</p>
        <p>Größe: {{ user_profile.height }} cm</p>
        <p>Gewicht: {{ user_profile.weight }} kg</p>
        <p>Aktivitätslevel: {{ user_profile.get_activity_display }}</p>
        <p>Ziel: {{ user_profile.get_goal_display }}</p>
        <p>Tägliche Kalorien: {{ user_profile.daily_calories }}</p>
        <p>Tägliche Kohlenhydrate: {{ user_profile.daily_carbohydrates }} g</p>
        <p>Tägliches Protein: {{ user_profile.daily_proteins }} g</p>
        <p>Tägliche Fette: {{ user_profile.daily_fats }} g</p>
    {% else %}
        <p>{{ error }}</p>
    {% endif %}

{% endblock %}
