{% extends 'base.html' %}

{% block title %}Dynamic Calendar with Streak{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #3e3e3e;
            color: #d1d1c7;
            margin: 0;
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: center;
            text-align: center;
        }

        h1 {
            font-size: 36px;
            color: #A9DFBF; 
            margin-bottom: 20px;
        }
        h2 {
            font-size: 24px;
            color: #A9DFBF; 
            margin-bottom: 20px;
        }

        form {
            color: white; 
            background-color: #2e4736;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 320px; /* Schmaler gemacht */
            max-width: 90%; /* Flexible Anpassung an den Bildschirm */
            display: flex;
            flex-direction: column;
            gap: 15px; 
            margin: 20px auto; 
        }

        input, select, button {
            font-size: 14px;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }

        input, select {
            background-color: #D5D8DC; 
            color: #2F4F4F; 
        }

        input:focus, select:focus {
            outline: none;
            box-shadow: 0 0 5px #A9DFBF;
        }

        button {
            background-color: #145A32; 
            color: white;
            cursor: pointer;
            font-weight: bold;
        }

        button:hover {
            background-color: #1E8449;
        }


        .button-group input[type="radio"] {
            display: none; 
        }

        .button-group label {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            border: 2px solid #145A32;
            border-radius: 5px;
            background-color: #18351c;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .button-group input[type="radio"]:checked + label {
            background-color: #1E8449;

            border-color: #1E8449;
        }

        .button-group label:hover {
            background-color: #145A32;
            color: white;
        }
        .chip-group input[type="radio"] {
            display: none; 
        }

        .chip-group label.chip {
            display: inline-block;
            padding: 8px 16px;
            margin: 5px;
            border: 1px solid #145A32;
            border-radius: 20px; 
            background-color: #1b3f1f;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .chip-group input[type="radio"]:checked + label.chip {
            background-color: #1E8449; 

            border-color: #1E8449;
        }

        .chip-group label.chip:hover {
            background-color: #145A32; 

        }
        @media (max-width: 768px) {
            form {
                width: 280px; /* Schmaler für Tablets */
                padding: 15px; 
            }
        }

        @media (max-width: 480px) {
            form {
                width: 220px; /* Schmaler für Smartphones */
                padding: 10px;
            }
        }

    </style>
</head>

<h1>Herzlich Willkommen zu unserem Kalorienrechner:</h1>
<h2>Bitte fülle folgendes Formular aus, damit wir deine Kalorien und Makronährstoffe berechnen können.</h2>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        {{ form.username }}
    </div>
    <div>
        <label for="age">Age:</label>
        {{ form.age }}
    </div>
    
    <div class="chip-group">
        <label>Gender:</label>
        {% for choice in form.gender.field.choices %}
            <input type="radio" id="gender_{{ forloop.counter }}" name="{{ form.gender.name }}" value="{{ choice.0 }}" {% if choice.0 == form.gender.value %}checked{% endif %}>
            <label for="gender_{{ forloop.counter }}" class="chip">{{ choice.1 }}</label>
        {% endfor %}
    </div>
    
    <div>
        <label for="height">Height (cm):</label>
        {{ form.height }}
    </div>
    
    <div>
        <label for="weight">Weight (kg):</label>
        {{ form.weight }}
    </div>
    
    <div class="chip-group">
        <label>Activity Level:</label>
        {% for choice in form.activity.field.choices %}
            <input type="radio" id="activity_{{ forloop.counter }}" name="{{ form.activity.name }}" value="{{ choice.0 }}" {% if choice.0 == form.activity.value %}checked{% endif %}>
            <label for="activity_{{ forloop.counter }}" class="chip">{{ choice.1 }}</label>
        {% endfor %}
    </div>
    
    <div class="chip-group">
        <label>Goal:</label>
        {% for choice in form.goal.field.choices %}
            <input type="radio" id="goal_{{ forloop.counter }}" name="{{ form.goal.name }}" value="{{ choice.0 }}" {% if choice.0 == form.goal.value %}checked{% endif %}>
            <label for="goal_{{ forloop.counter }}" class="chip">{{ choice.1 }}</label>
        {% endfor %}
    </div>
    
    <button type="submit">Submit</button>
</form>


</html>
{% endblock %}